* {
    user-select: none;
}

// Weather Heading
.weather-header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    background-color: var(--item-color);
    border-radius: var(--border-radius);
    padding: 10px 18px;
}

.weather-place-temp {
}

.location {
    display: flex;
    align-items: center;
    .icon {
        margin-right: 5px;
    }
}

.degree {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.weather-status-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
}

.weather-status-icon img {
    width: 35px;
    height: 35px;
}

.weather-status {
}
// Weather Heading

.last-update {
    // height: 70px;
    padding: 10px 0;
    font-size: 2rem;
    margin: 10px 0;
}

.forecast-weather-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
