.wrapper {
    width: 280px;
    max-width: 30%;
    padding: 15px 5px !important;
}

.input-section {
}

.add-btn {
    width: 100%;
    padding: 10px 0;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
    font-size: 1.8rem;
}
