.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5 !important;
    background-color: rgba(0, 0, 0, 0.5);
    animation: var(--fade-ani) linear 0.5s;
}
